.gradle/
build/
**/build/
.idea/
*.iml
local.properties
keystore.properties
*.jks
app/google-services.json
.kotlin/
rules/node_modules/
rules/serviceAccount.json
firebase-debug.log
firestore-debug.log
ui-debug.log
.DS_Store
