.gradle/
build/
**/build/
.idea/
*.iml
local.properties
keystore.properties
*.jks
app/google-services.json
.kotlin/
functions/node_modules/
functions/lib/
firebase-debug.log
firestore-debug.log
ui-debug.log
.DS_Store
